.ErrorCard-sign {
  position: relative;
  margin: 0 18px 18px 18px;
  text-align: center;
  color: #777;
  background-color: #FBF9F5;
  border-radius: 8px;
}

.ErrorCard-sign:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.ErrorCard-sign-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ErrorCard-sign .icon {
  font-size: 56px;
}

.ErrorCard-sign h3 {
  margin-top: 2px;
  font-size: 14px;
}

.MiniCard {
  text-decoration: none;
  transition: all ease-in-out .3s;
}

.MiniCard > .Card {
  transition: all ease-in-out .3s;
}

.MiniCard:hover > .Card {
  background-color: #FD2B70;
}

.MiniCard:hover > .Card h2 {
  color: #FFF;
}

.MiniCard:hover > .Card img {
  opacity: .7;
}

.MiniCard h2 {
  font-size: 14px;
}
