.WebLink {
  display: flex;
  align-items: center;
  justify-content: stretch;
  height: 24px;
  margin: 4px 0;
  text-decoration: none;
  color: #3A3A3A;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out .3s;
}

.WebLink:hover {
  color: #FD2B70;
  border-bottom-color: #FD2B70;
}

.WebLink-icon {
  width: 14px;
  padding-right: 4px;
  text-align: center;
}

.WebLink-title {
  flex-grow: 1;
}

.ErrorCard-sign {
  margin: 0 18px 18px 18px;
  padding: 54px 18px 72px 18px;
  text-align: center;
  color: #777;
  background-color: #FBF9F5;
  border-radius: 8px;
}

.ErrorCard-sign .icon {
  font-size: 56px;
}

.ErrorCard-sign h3 {
  margin-top: 2px;
  font-size: 14px;
}

.MiniCard {
  text-decoration: none;
  transition: all ease-in-out .3s;
}

.MiniCard > .Card {
  transition: all ease-in-out .3s;
}

.MiniCard:hover > .Card {
  background-color: #FD2B70;
}

.MiniCard:hover > .Card h2 {
  color: #FFF;
}

.MiniCard:hover > .Card img {
  opacity: .7;
}

.MiniCard h2 {
  font-size: 14px;
}
