img {
  display: block;
  width: 100%;
}

video {
  display: block;
  width: 100%;
  outline: 0;
}

.Card {
  margin: 10px 0;
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 4px 28px 0 rgba(58,58,58,0.10);
  overflow: hidden;
}

.Card-header {
  padding: 18px 18px 14px 18px;
}

.Card-footer {
  padding: 10px 18px 18px 18px;
}

.Card-container {
  padding: 0 18px 12px 18px;
}

.Card h2 {
  font-size: 16px;
  font-weight: 600;
  color: #FD2B70;
  text-transform: uppercase;
}

.Card-line {
  height: 1px;
  background-color: #FD2B70;
}
