.Button {
  display: block;
  height: 40px;
  margin: 6px 0;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background-color: #FD2B70;
  border: 1px solid #FD2B70;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

.Button:hover {
  background-color: #DE0B51;
}

.Button-ghost {
  color: #FD2B70;
  background-color: #FFF;
}

.Button-ghost:hover {
  color: #FFF;
  background-color: #DE0B51;
}

.Button svg {
  vertical-align: text-top;
}

.Button svg:first-child {
  font-size: 12px;
  vertical-align: super;
}
